* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background: black;
    color: white;
}

#main-page {
    margin: 0 4vw;
    width: 95vw;
    height: 100vh;
    overflow-y: scroll;
    position: relative;
    scroll-snap-type: y mandatory;
}

#main-page::-webkit-scrollbar {
    background: transparent;
}

.bar-graph-panel {
    height: 100vh;
    scroll-snap-align: start;
}

.map-panel {
    height: 100vh;
    scroll-snap-align: start;
}

.year-option-wrapper {
    margin: 0 auto;
    width: 12rem;
    display: flex;
    justify-content: space-between;
}

.year-option {
    background-color: rgb(196, 196, 224);
    color: blue;
    padding: 20;
    height: 2rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    font-weight: 700;
}

.year-option:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.year-option:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.year-option:hover {
    background-color: rgba(169, 170, 219, 0.5);
}

.province {
    stroke: black;
    stroke-width: 0.5;
}

.province:hover {
    stroke-width: 2;
}

#map {
    background-color: #a2e0fa;
    margin: 2vh 30vw;
}

#date, #aqi {
    fill: white;
}

.solution-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2vw;
    grid-row-gap: 2vh;
    margin: 5vh auto;
    grid-template-rows: 205px 205px;
}

.solution-panel {
    display: flex;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
    border-width: 1px;
    border-radius: 20px;
}

.solution-panel:hover {
    border-color: white;
    border-width: 2px;
}

.solution-panel p {
    margin: auto 12px;
    font-size: 30px;
}

.solution-panel img {
    margin: auto 5%;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

rect:hover {
    opacity: 0.5;
}
