* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 10vh;
}

#title {
    font-size: 2em;
}

#graph {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 10px;
    margin: 10px 15px;
    height: 80vh;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    flex-direction: column;
}

.province {
    fill: #ccc;
    stroke: black;
    stroke-width: 0.5;
}

.province:hover {
    fill: yellow;
}

#tooltip {
    position: absolute;
}
