* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background: black;
    color: white;
}

#title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 10vh;
}

#title {
    font-size: 2em;
}

#graph {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 10px;
    margin: 10px 15px;
    height: 80vh;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    flex-direction: column;
}

.province {
    stroke: black;
    stroke-width: 0.5;
}

.province:hover {
    stroke-width: 2;
}

#map {
    background-color: #a2e0fa;
}

#date, #aqi {
    fill: white;
}

circle:hover {
    stroke: whitesmoke;
    stroke-width: 3;
}
